.full-width {
    width:100%;
}

.padding {
   margin-top:5px;
}
input, select {
    font-size: 16px;
}

ion-content {
    --ion-background-color:#fafdff;
    font-family: 'Titillium-sb';
}
.table_cell {
    font-family: 'Titillium-sb';
    font-size: 16px;
}