@font-face {
    font-family: 'Titillium-sb'; /* TitilliumWeb-SemiBold */
    src: url('../assets/fonts/TitilliumWeb-SemiBold.ttf');
    font-weight: 250;
  }

  @font-face {
    font-family: 'TitilliumWeb'; /* TitilliumWeb-Regular */
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf');
    font-weight: 150;
    font-style: normal;
  }
