@import '../theme/fonts';
body {
    font-family: 'Titillium-sb';
}
p,h1,h2,label,input, select, checkbox, tr, td {
    font-family:   'Titillium-sb';
}

.h1, h2, h3, h4 {
    font-family:   'Titillium-sb';
}
