
ion-content {
    --ion-background-color:#fafdff;
    font-family: 'TitilliumWeb';
}

ion-card-content{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }

ion-content-header {
    color: black;
}

button, p, h4, span {
    font-family: TitilliumWeb;
}
button {
    width: 90px;
}
.padding-left {
    margin-left: 10px;
}
