ion-card-header,
ion-card-content,
ion-label,
p, input, button, label, div {
  font-family: "TitilliumWeb";
  font-size: 16px;
}

.padding {
  margin-bottom: 10px;
  margin-top: 10px;    
}

.full-width {
    width: 100%;
}

.error {
  color: red;
  font-size: 12px;
}